doctype html
head
  title Login-page
  style.
    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
    body{
    background-color: #E3F0F4;
    font-family: sans-serif;
    }
    .mobile-block{
    margin: 40px auto;
    background-color: #ffffff;
    width: 300px;
    height: 600px;
    text-align: center;
    padding: 17px;
    border-radius: 30px;
    }
    h2{
    margin-top: 1em;
    font-size: 2.5em;
    font-weight: 900;
    }
    p{
    margin-bottom: 4em;
    color:#555;
    font-size: .9em;
    }
    input{
    width: 100%;
    outline: none;
    border: none;
    padding: 1em 1.5em;
    margin: .6em 0;
    border-radius: 25px;
    }
    .box{
    background-color: #F8F8F8;
    font-weight: 500;
    }
    .box:focus{
    border: 1px solid #4896FF;
    }
    #login{
    background-color: #4896FF;
    color: #fff;
    letter-spacing: .6px;
    font-weight: 700;
    cursor: pointer;
    }
body
    .mobile-block
        h2 Login
        p please login to continue
        form(method='POST')
            input#username.box(type='text' name='username' placeholder='Enter Username')
            input#password.box(type='password' name='password' placeholder='Enter Password')
            input#login(type='submit' value='Login')
