doctype html
head
  title Response Page
  style.
    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
    .top{
    width:20%;
    height: 5px;
    background-color: #222;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 2em;
    }
    body{
    background-color: #E3F0F4;
    font-family: sans-serif;
    }
    .mobile-block{
    margin: 40px auto;
    background-color: #ffffff;
    width: 300px;
    height: 600px;
    padding: 17px;
    border-radius: 30px;
    }
    h2{
    font-size: 2.2em;
    font-weight: 900;
    margin: .5em 0;
    line-height: 1.1em;
    }
    .sub-head{
    font-size: 1.2em;
    margin-bottom: 1em;
    }
    .content{
    background-color: #F8F8F8;
    padding: 1em;
    }
    .content strong{
    line-height: 1.4em;
    display:block;
    }
.mobile-block
  .top
  h2 Thanks for joining us
  p.sub-head Your details are as follows:
  .content
    strong Full Name:
    p= full_name
    strong Username:
    p=username
    strong Email:
    p=email
    strong Password:
    p=password
